*.war
.gradle
*.iml
*.ipr
*.iws
/.idea
intellij/
intellij_project_settings/
/logs

*.swp
test*.xml

.project
.settings
.classpath
.metadata
*.launch

build
dist/
tmp
.DS_Store

MicrosOWSClient/src/main/resources/lab.configuration.properties
MicrosOWSClient/src/main/resources/operademo3.configuration.properties
MicrosPMSAdapter/src/main/resources/lab.configuration.properties
MicrosPMSAdapter/src/main/resources/operademo3.configuration.properties
samples/

CloudKeyHTWebServices/logs
CloudKeyHTUploadService/logs
MicrosDataHarvester/logs
