*.war
*.class
test*.xml
base.jar
build/
dist/
intellij/
intellij_project_settings/
CloudKeyHTUploadService/lib/microsadapter.jar
microsadapter.jar
MicrosOWSClient/src/res/lab.configuration.properties
MicrosOWSClient/src/res/operademo3.configuration.properties
MicrosPMSAdapter/res/lab.configuration.properties
MicrosPMSAdapter/res/operademo3.configuration.properties
.gradle/
*.iml
