<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="DEFAULT-LOG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="res/cloudtest.log" />

		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="Append" value="true" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} [%t] %p %c - %m%n" />
		</layout>
	</appender>

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n" />
		</layout>
	</appender>


	<appender name="DB" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="url" value="jdbc:mysql://localhost:3306/cloudtest_logdb" />
		<param name="driver" value="com.mysql.jdbc.Driver" />
		<param name="user" value="root" />
		<param name="password" value="Chetu@123" />
		<param name="buffer" value="1" />
		<param name="commit" value="true" />
		<param name="sql"
			value="INSERT INTO cloudtest_log VALUES('%x',
                             '%d','%C','%p','%m')" />
		<layout class="org.apache.log4j.PatternLayout">
		</layout>
	</appender>

	<appender name="rollAppender" class="org.apache.log4j.DailyRollingFileAppender">
	<!-- 	<param name="File" value="logs/bridge_base.log" /> -->
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} [%t] %p %c - %m%n" />
		</layout>
	</appender>
	<root>
		<priority value="INFO" />
		<appender-ref ref="consoleAppender" />
	</root>

</log4j:configuration>
